.registration-form {
	width: 100%;
}
.registration-form__logo {
	margin-bottom: 39px;
}
.registration-form__line {
	width: 100%;
	height: 1px;
	background-color: var(--color-borderanddivider-third);
	margin-bottom: 28px;
}
.registration-form__title {
	font: var(--font-title);
	line-height: var(--lineHeight-title);
	margin-bottom: 26px;
}
.registration-form__inputs {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 31px;
}
.registration-form__btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
.registration-form__caption {
    display: flex;
	font: var(--font-text-tall);
	line-height: var(--font-text-tall);
    color: var(--color-textoricon-third);
}
.registration-form__link {
	font: var(--font-text-tall-bold);
	line-height: var(--font-text-tall);
    color: var(--color-textoricon-third);
}
