:root {
	--color-white: #fff;
	--color-black-1: #000000;
	--color-black-2: #414141;
	--color-black-3: #091425;
	--color-gray-1: #bbbbbb;
	--color-gray-2: #8f8f8f;
	--color-gray-3: #c8c8c8;
	--color-gray-4: #3d3d4b;
	--color-gray-5: #e0e0e0;
	--color-gray-6: #fcfcff;
	--color-gray-7: #606060;
	--color-orange-1: #ff7360;
	--color-blue-1: #1627fe;
	--color-purple-1: #626cef;
	--color-purple-2: #dbdfff;
	--color-purple-3: #f6f7ff;
	--color-purple-4: #2b286c;
	--color-purple-5: #e3e3f4;
	--color-purple-6: #d7d7ef;
	--color-purple-7: #ebebf5;
	--color-gradient-purple-1: linear-gradient(
		to right,
		#aeb5f6 0%,
		#939dff 100%
	);
	--color-gradient-orange-1: linear-gradient(
		to right,
		#ff5d25 0%,
		#ff5f27 100%
	);
	--color-gradient-pink-1: linear-gradient(
		30deg,
		#f7f7f7 0%,
		#eef0f2 47%,
		#f7eaf1 75%,
		#f4f1ff 100%
	);
	--color-gradient-beige-1: linear-gradient(
		to right,
		#f7f7f7 0%,
		#eef0f2 10%,
		#eff1f7 20%,
		#eae8f6 50%,
		#f3e6f1 70%,
		#f7eaf1 80%,
		#f4eaee 100%
	);

	--color-translucent-1: rgba(0, 0, 0, 0.4);

	--weight-light: 300;
	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;

	--fontSize-12: 12px;
	--fontSize-15: 15px;
	--fontSize-16: 16px;
	--fontSize-18: 18px;
	--fontSize-28: 28px;
	--fontSize-30: 30px;
	--fontSize-34: 34px;

	--fontFamily-Inter: 'Inter', 'Arial', sans-serif;

	--font-title: normal var(--weight-medium) var(--fontSize-34)
		var(--fontFamily-Inter);
	--font-subtitle: normal var(--weight-medium) var(--fontSize-28)
		var(--fontFamily-Inter);
	--font-text-tall: normal var(--weight-regular) var(--fontSize-18)
		var(--fontFamily-Inter);
	--font-text-tall-bold: normal var(--weight-medium) var(--fontSize-18)
		var(--fontFamily-Inter);
	--font-text-pre-tall-bold: normal var(--weight-medium) var(--fontSize-16)
		var(--fontFamily-Inter);
	--font-text-pre-tall: normal var(--weight-regular) var(--fontSize-16)
		var(--fontFamily-Inter);
	--font-text: normal var(--weight-regular) var(--fontSize-15)
		var(--fontFamily-Inter);
	--font-text-bold: normal var(--weight-medium) var(--fontSize-15)
		var(--fontFamily-Inter);
	--font-caption-tall: normal var(--weight-regular) var(--fontSize-14)
		var(--fontFamily-Inter);
	--font-caption: normal var(--weight-medium) var(--fontSize-12)
		var(--fontFamily-Inter);
	--font-btn: normal var(--weight-regular) var(--fontSize-16)
		var(--fontFamily-Inter);

	--lineHeight-base: 1;
	--lineHeight-title: 1;
	--lineHeight-subtitle: 1;
	--lineHeight-text-tall: 1;
	--lineHeight-text-pre-tall: 1;
	--lineHeight-text: 1;
	--lineHeight-caption-tall: 1;
	--lineHeight-caption: 1;
	--lineHeight-btn: 1;
}

[data-theme='light'] {
	/* Background */
	--color-background-primary: var(--color-white);
	--color-background-secondary: var(--color-purple-3);
	--color-background-third: var(--color-gradient-pink-1);
	--color-background-fourth: var(--color-translucent-1);
	--color-background-fifth: var(--color-orange-1);
	--color-background-sixth: var(--color-gradient-beige-1);
	--color-background-seventh: var(--color-gray-6);
	--color-background-eighth: var(--color-purple-7);

	/* TextOrIcon */
	--color-textoricon-primary: var(--color-black-1);
	--color-textoricon-secondary: var(--color-white);
	--color-textoricon-third: var(--color-black-2);
	--color-textoricon-forth: var(--color-gray-1);
	--color-textoricon-fifth: var(--color-purple-1);
	--color-textoricon-sixth: var(--color-orange-1);
	--color-textoricon-seventh: var(--color-purple-4);
	--color-textoricon-eighth: var(--color-gray-4);
	--color-textoricon-ninth: var(--color-gray-7);

	/* BorderAndDivider */
	--color-borderanddivider-primary: var(--color-purple-2);
	--color-borderanddivider-secondary: var(--color-gradient-purple-1);
	--color-borderanddivider-third: var(--color-gray-5);
	--color-borderanddivider-forth: var(--color-purple-5);
	--color-borderanddivider-fifth: var(--color-purple-6);

	/* Buttons */
	--color-buttons-primary: var(--color-gradient-orange-1);

	/* Functional */
	--color-functional-error: var(--color-orange-1);

	--color-functional-success: #12b857;
	--color-functional-warning: #fac82e;

	/* States */
	--color-states-disabled-primary: var(--color-gray-3);
	--color-states-focus-primary: var(--color-purple-1);
	--color-states-hover-primary: var(--color-blue-1);

	--color-states-pressed-primary: #60666c;
	--color-states-active-primary: #ffffff;
}

[data-theme='dark'] {
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}

li {
	list-style: none;
}

a,
img,
time,
span,
input,
button,
text-area {
	display: block;
}

img {
	font: var(--font-text);
	color: var(--color-textoricon-primary);
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	width: 100%;
}
footer {
	width: 100%;
}

input,
button,
textarea {
	background: none;
	border: none;
	font: inherit;
}

button,
a {
	cursor: pointer;
}

address {
	font-style: normal;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
	line-height: var(--lineHeight-base);
	overscroll-behavior: contain;
}

body {
	height: 100%;
	min-height: 100vh;
}

#root {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
